@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your CSS file */
.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  flex: 1;
}
input {
  @apply rounded-md;
  padding: 3px;
}

.swiper-button-prev {
  top: 160px; /* Adjust the distance from the top as needed */
}

@media screen and (max-width: 767px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  top: 160px; /* Adjust the distance from the top as needed */
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    display: none;
  }
}

.parallax-container {
  position: relative;
  height: 55vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;
}

.parallax-content {
  position: relative;
  z-index: 10; /* Ensure content is above the background */
  padding: 20px;
  color: white; /* Ensure text color contrasts with background */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .parallax-container {
    height: 59vh;
  }

  .parallax-bg {
    height: 80%;
  }
}

.popup-content {
  /* margin: auto;
  
 
  width: 50%; */
  /* padding: 5px; */
  background-color: cadetblue
}
.popup-arrow {
  /* color: rgb(255, 255, 255); */
}
/* [role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
} */

.popup-overlay {
  /* background: rgba(0, 0, 0, 0.5); */
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.scroll-container {
  overflow: hidden;
  height:200px; /* Adjust the height as needed */
}

.notice-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  animation: scroll 40s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
